<VirtualHost *:443>
    <IfModule mod_headers.c>
        Header always set Strict-Transport-Security "max-age=31536000"
    </IfModule>
{% if sslcert is defined %}
    SSLEngine on
    SSLProtocol -ALL +TLSv1 +TLSv1.1 +TLSv1.2
    SSLHonorCipherOrder on
    SSLCipherSuite ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:!AES128
    SSLCertificateFile {{ sslcert }}
    SSLCertificateKeyFile {{ sslkey }}
{% if sslchain is defined %}
    SSLCertificateChainFile {{ sslchain }}
{% endif %}
{% endif %}
    <IfModule mod_alias.c>
	Alias /piwik {{ piwik.settings.locations.dest }}
    </IfModule>

    <Directory {{ piwik.settings.locations.dest }}>
	    Order Deny,Allow 
	    Deny from All 
      {% if ip_range is defined %}
	    # Allow from {{ ip_range }}
	    Require ip {{ ip_range }}
      {% else %}
	  Allow from All
      {% if ansible_distribution in [ 'CentOS', 'RedHat', 'Fedora' ] %}
      Require all granted
      {% endif %}
      {% endif %}

	    <Files "*">
		Order Deny,Allow
		Deny from all
      {% if ip_range is defined %}
		Allow from {{ ip_range }}
      {% endif %}
	    </Files>

	    <Files ~ "^piwik\.(js|php)|robots\.txt$">
		Allow from all
		Satisfy any
	    </Files>

    </Directory>

</VirtualHost>  
